
<div id="app_footer" class="hide">
    <!-- <div class="uk-container">
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <p>&copy; All Rights Reserved By TSM. 
                    with ❤️ created By <a href="https://github.com/anonymousCoder-047">AnonymousCoder</a>
                </p>
            </div>
        </div>

    </div> -->
</div>
</html>