<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/styles/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap CSS -->
    
    <!-- UIkiT CSS -->
    <link rel="stylesheet" href="/public/styles/uikit/css/uikit.min.css">
    <!-- UIkiT CSS -->

    <!-- Materialize Toast CSS -->
    <link rel="stylesheet" href="/public/styles/materialize/css/toast.css">
    <!-- Materialize Toast CSS -->

    <!-- jQuery -->
    <script src="/public/js/jquery/jquery-3.5.1.min.js"></script>
    <!-- jQuery -->
    
    <!-- Bootstrap JS -->
    <script src="/public/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS -->

    <!-- UIkiT JS -->
    <script src="/public/js/uikit/js/uikit.min.js"></script>
    <!-- UIkiT JS -->

    <!-- UIkiT ICONS -->
    <script src="/public/js/uikit/js/uikit-icons.min.js"></script>
    <!-- UIkiT ICONS -->

    <!-- Materialize JS -->
    <script src="/public/js/materialize/js/materialize.min.js"></script>
    <!-- Materialize JS -->

    <!-- sweetAlert2 -->
    <script src="/public/js/sweetalert/sweetalert.min.js"></script>
    <!-- sweetAlert2 -->

    <!-- Preloader CSS -->
    <link rel="stylesheet" href="/public/styles/preloader.css">
    <!-- Preloader CSS -->

    <!-- Preloader JS -->
    <script src="/public/js/preloader.js"></script>
    <!-- Preloader JS -->

    <!-- InstaSCAN QR JS -->
    <script src="/public/js/instascan.min.js"></script>
    <!-- InstaSCAN QR JS -->

    <!-- fontawesome CSS -->
    <link rel="stylesheet" href="/public/styles/fontawesome/fontawesome.min.css">
    <!-- fontawesome CSS -->

    <!-- fontawesome JS -->
    <script src="/public/js/fontawesome/fontawesome.min.js"></script>
    <!-- fontawesome JS -->

    <title>Home | TSM</title>
</head>