
<%- include('partials/headers') %>

<%- include('partials/navbar') %>

<body>
    <!-- Prealoader -->
    <div id="preloader-wrapper">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
          </div>
    </div>
    <!-- Prealoader -->

    <!-- Section -->
    <section id="main-content" class="uk-section uk-section-secondary hidden">
        
    </section>
    <!-- Section -->

</body>

<%- include('partials/footer') %>