
<%- include('partials/headers') %> 

<%- include('partials/navbar', { 'isLoggedin':isLoggedin, 'admin':admin }) %>

<body>
    <!-- Prealoader -->
    <div id="preloader-wrapper">
        <div class="preloader loading">
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
            <span class="slice"></span>
          </div>
    </div>
    <!-- Prealoader -->

    <!-- Section -->
    <section id="main-content" class="uk-section uk-section-default hidden">
        <h1>Login</h1>
        <div class="clearfix"></div>

        <div class="uk-section">
            <% if( isLoggedin === false ) { %>
                <script>
                    M.toast({ html: "Login" });
                </script>
            <% } %>
            
            <div class="row">
                <div class="col-sm-12">
                    <div id="alert_display" style="display: none;">
                        <div id="alert_color" class="uk-alert-primary" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p id="alert_message"></p>
                        </div>
                    </div>
                    <form class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-1">
                            <input id="user_name" class="uk-input" type="text" placeholder="user name">
                        </div>
                        <div class="uk-width-1-2@s" style="margin-top: 25px;">
                            <input id="password" class="uk-input" type="password" placeholder="*******">
                        </div>
                        <div style="margin-top: 8px;">
                            <a class="uk-button" href="/reset">forgot passowrd</a>
                            <a class="uk-button" href="/register">Create Account</a>
                        </div>
                    </form>
                    <br>
                    <button class="uk-button uk-button-primary" onclick="login(event)">SUBMIT</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

    </section>
    <!-- Section -->

    <script>
        function login(event) {
            event.preventDefault();
            let alert_display = document.getElementById('alert_display');
            let alert_color = document.getElementById('alert_color');
            let alert_message = document.getElementById('alert_message');

            let user_name = document.getElementById('user_name').value;
            let password = document.getElementById('password').value;

            if( user_name != '' && password != '' ) {
                $.post('/login', { "user_name":user_name, "password":password })
                .then((data, textStatus) => {
                    if( data == 'ERROR' ) {
                        alert_display.style.display = 'block';
                        alert_color.classList.toggle('uk-alert-danger');
                        alert_message.innerHTML = "PASSWORD DOESNOT MATCH";
                        
                        setTimeout(() => {
                            alert_display.style.display = 'none';
                            alert_color.classList.toggle('uk-alert-danger');
                            alert_message.innerHTML = "PASSWORD DOESNOT MATCH";
                        }, 2000);
                    } else if( data == 'APP_ERROR' ) {
                        alert_display.style.display = 'block';
                        alert_color.classList.toggle('uk-alert-danger');
                        alert_message.innerHTML = "Server Error! Please Try Again Later";
                        
                        setTimeout(() => {
                            alert_display.style.display = 'none';
                            alert_color.classList.toggle('uk-alert-danger');
                            alert_message.innerHTML = "Server Error! Please Try Again Later"
                        }, 2000);
                    } else if( data == 'DATA_ERROR' ) {
                        alert_display.style.display = 'block';
                        alert_color.classList.toggle('uk-alert-danger');
                        alert_message.innerHTML = "No such Email / User Name";
                        
                        setTimeout(() => {
                            alert_display.style.display = 'none';
                            alert_color.classList.toggle('uk-alert-danger');
                            alert_message.innerHTML = "Please Register First";
                        }, 2000);
                    } else {
                        alert_display.style.display = 'block';
                        alert_color.classList.toggle('uk-alert-success');
                        alert_message.innerHTML = "server status"+ textStatus +" "+data;
                        
                        setTimeout(() => {
                            alert_display.style.display = 'none';
                            alert_color.classList.toggle('uk-alert-success');
                            alert_message.innerHTML = "SERVER STATUS "+ textStatus +" "+data;
                        }, 2000);
                        location.pathname = '/dashboard';
                    }
                });

            } else {
                alert_display.style.display = 'block';
                alert_color.classList.toggle('uk-alert-danger');
                alert_message.innerHTML = "Please fill the fileds";
                
                setTimeout(() => {
                    alert_display.style.display = 'none';
                    alert_color.classList.toggle('uk-alert-danger');
                    alert_message.innerHTML = "Please fill the fields";
                }, 2000);
            }
        }
    </script>

</body>

<%- include('partials/footer') %>